body{
    /* background-color:aliceblue; */
    background-image: url(https://cdn.designbyhumans.com/file/module/store/728/88728/hero/5287292.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}